@import "../../scss/variables";

.header-fixed {
  background-color: $primary-color !important;
  font-family: $font-family;
  color: $text-color;
  padding: 0.3rem;
  padding-bottom: 0;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  text-shadow: 0.5px 0.5px 5px grey;
  z-index: 10;

  .middle {
    margin: 0 auto;
    width: 70%;
    display: flex;
    justify-content: space-between !important;
    align-items: center !important;
    padding: 0;

    .nav-left {
      cursor: pointer;
      h1 {
        font-size: 1.9rem;
        a {
          text-decoration: none;
          color: $text-color;
          span.logo {
            color: $text-color;
            font-size: 2.5rem;
          }
          span {
            &:last-child {
              color: $text-color;
            }
          }
        }
      }
    }
  }

  span {
    color: $light-color;
  }
  .navbar-toggler {
    color: $secondary-color;
    background-color: $secondary-color;
  }
  .nav-right {
    ul {
      margin: auto;
      height: fit-content;
      padding: 0.5rem 1rem;
      display: flex;
      gap: 1.5rem;
      list-style-type: none;
      justify-content: center;
      align-items: center;
      font-size: 1rem;
      a.lists {
        position: relative;
        span.absolute {
          position: absolute;
          top: -5px;
          right: -8px;
          width: 22px;
          height: 11px;
          font-size: 0.58rem;
          background-color: $light-color;
          color: black;
          border-radius: 0.3rem;
        }
      }

      li {
        cursor: pointer;
        a.last {
          background-color: $nav-light;
        }
        a {
          padding: 0.5rem;
          border-radius: 0.5rem;
          text-decoration: none;
          white-space: nowrap;
          color: $text-color;
          &:hover {
            background-color: $nav-hover;
          }
          &:active {
            background-color: $secondary-color;
          }
        }
      }
    }
  }
}

@media (max-width: 1450px) {
  .middle {
    flex-direction: column;
    width: 100% !important;
  }
  .header-fixed {
    padding-bottom: 0.5rem;
  }

  ul {
    gap: 0;
  }
}

@media (max-width: 767px) {
  .middle {
    flex-direction: row;
    justify-content: space-around;
  }
  .nav-right ul {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media (max-width: 333px) {
  .middle {
    flex-direction: column;
    justify-content: center;
  }
}

// for apple watch

@media (max-width: 165px) {
  .header-fixed {
    position: relative;
  }
}
