@import "../../scss/variables";

.nav-bar {
  background-color: $secondary-color;
  color: $text-color;
  margin-top: 3.2rem;
  padding-top: 0.5rem;
  height: fit-content;

  .nav-middle {
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0;
    // height: fit-content;
    ul.type {
      margin: 0.8rem;
      display: flex;
      justify-content: center;
      gap: .5rem;
      flex-wrap: wrap;
      a {
        margin-right:1.6rem;
        color: $text-color;
        text-decoration: none;
        // font-size: 1rem;
        // margin: 0rem 0.5rem;
        // vertical-align: middle;
      }
    }
    .search-bar {
      width: 20%;
      // width: fit-content;
      min-width: 260px;
      background-color: $primary-color;
      padding: 0.3rem;
      margin: 0 1rem;
      display: flex;
      justify-content: space-between;
      gap: 1rem;
      border-radius: 0.5rem;
      color: $text-color;
      input {
        width: 100%;
        background-color: $primary-color;
        border: 0;
        outline: 0;
        color: $text-color;
        &::placeholder {
          color: grey;
        }
      }
      span {
        color: $text-color;
      }
    }
  }
}

@media (max-width: 1450px) {
  .nav-bar {
    margin-top: 105px;
  }
}

// @media (max-width: 1050px) {
//   .search-bar {
//     width: 100%;
//   }
//   input {
//     width: 75%;
//   }
// }

@media (max-width: 900px) {
  .nav-middle {
    flex-direction: column;
    justify-content: center;
  }
  .nav-bar {
    padding-bottom: 1rem;
  }
  // .search-bar {
  //   width: 100%;
  // }
}
@media (max-width: 767px) {
  .nav-bar {
    margin-top: 67px;
  }
}
// @media (max-width: 685px) {
//   ul.type {
//     display: none;
//   }
// }
@media (max-width: 510px) {
  ul.type {
    gap: 0;
  }
  ul.type a{
    background-color: $background;
    padding: .2rem  .5rem;
    border-radius: .3rem;
  }
}
@media (max-width: 333px) {
  .nav-bar {
    margin-top: 95px;

  }
}
@media (max-width: 276px) {
  .nav-bar {
    margin-top: 130px;

  }
}
