@import "../../scss/variables";
.yillar{
    h4{
        margin-top: 1rem;
    }
    ul{
        padding: 0;

        display: flex;
        flex-wrap: wrap;
        a{
            width: 22.5%;
            text-decoration: none;
            color: $primary-color;
            margin: .3rem .2rem .3rem;
            padding: .1rem .3rem;
            font-size: .95rem;
            background-color:#ebf1f4;
            text-align: center;

            &:hover{
                background-color:white;
                border-radius: .5rem;
            }
        }
    }
}