@import "../../scss/variables";

.main-card-container {
  background-color: $secondary-color;
  width: 73%;
  margin: 0 auto;
  margin-top: 7.6rem;
  border-radius: 0.5rem;
  color: $text-color;
  .mobil {
    background-color: $fourth-color;
    padding: .3rem .2rem ;
    color: $text-color;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    text-shadow: 2px 2px 10px black;
   
    p{
      margin: auto;
      display: inline-block;
    }
    a.android {
      background-color: $secondary-color;
      display: inline-block;

      border-radius: 0.5rem;
      padding: 0.2rem;
      vertical-align: middle;
      text-decoration: none;
      color: $text-color;
      margin: 0 1rem;
      box-shadow: 1px 1px 15px $secondary-color;
      
      &:hover {
        background-color: $third-color;
        box-shadow: 1px 1px 15px grey;
      }
      .icon {
        font-size: 1.55rem;
        padding-bottom: 0.5rem;
      }
    }
    span.color {
      color: rgb(181, 209, 232);
    }
  }
  .main-content {
    background-color: white;
    color: black;
    &_right {
      background-color: white;
      
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      margin-top: 0;
      padding: 1rem;
      border-left: 5px solid #ebf1f4;
      h4 {
        color: $secondary-color;

        padding-bottom: 0.5rem;
        font-weight: 700;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        gap: 0.5rem;
        span {
          font-size: 2rem;
        }
      }
    }
    &_left {
      
      h4 {
        color: $secondary-color;
        padding: 1rem;
        font-weight: 700;
      }
      p {
        padding: 1rem;
      }
    }
  }
}

@media (max-width: 1430px) {
  .main-card-container {
    width: 98%;
  }
}
@media (max-width: 992px) {
  .main-content {
    flex-direction: column;
  }
  .main-card-container{
    margin-top: 5rem;
  }
}
@media (max-width: 510px) {
  
  .main-card-container{
    margin-top: 2.5rem;
  }
}
