@import "../../scss/variables";

.filtreler {
  h4 {
    margin-top: 1rem;
  }
  ul.filters {
    padding: 0;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    a {
      width: 43%;
      text-decoration: none;
      color: $primary-color;
      margin: 0.5rem;
      padding:  0.3rem;
      font-size: 0.95rem;
      background-color: $light-back;
      border-radius: .3rem;
      &:hover {
        background-color: #ebf1f4;
        border-radius: 0.5rem;
      }
    }
  }
}
@media (max-width: 992px) {
  ul.filters a{
      text-align: center;
  }
}