// ************************************
// * Variables
// ************************************
@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Comfortaa:wght@300;400;500;600;700&family=Julee&family=Roboto:wght@300;400;500;700&display=swap');
// * Colors
$primary-color: #1D3A48;
$secondary-color: #264858;
$third-color: #203C4A;
$fourth-color: #475F6D;
$light-color: #6ECFFF;
$text-color: #eee !important;
$nav-hover: #234250 ;
$nav-light: #326884 ;
$background: #38535F;
$light-back: #ebf1f4;

// * Fonts
$font-family: 'Roboto', sans-serif;;

