// ************************************
// * Variables
// ************************************
@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Comfortaa:wght@300;400;500;600;700&family=Julee&family=Roboto:wght@300;400;500;700&display=swap');
// * Colors
$primary-color: #1D3A48;
$secondary-color: #264858;
$third-color: #203C4A;
$fourth-color: #475F6D;
$light-color: #6ECFFF;
$text-color: #eee !important;
$nav-hover: #234250 ;
$nav-light: #326884 ;

// * Fonts
$font-family: 'Roboto', sans-serif;;

// * Path Variables
$main-bgImg-path: "./assets/img/model-1.jpg";
$notFoundImgCDN: "https://cdn.dribbble.com/users/1175431/screenshots/6188233/404-error-dribbble-800x600.gif";